/* Общие стили */
.sider-container {
    text-align: center;
    height: 100vh;
    color: #fff;
    background-color: #3a3a3a;
    border-right: 1.2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px 20px;
    box-sizing: border-box;
}

/* Стили для поля поиска */
.search-input {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
}

.search-input input {
    width: 100%;
    background-color: #0695f8;
    border: 2px solid #3e3e3e;
    padding: 10px 14px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    height: 44px;
}

/* Разделительная линия */
.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 20px 0;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #444;
}

.divider-text {
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    padding: 0 10px;
    text-align: center;
}

/* Блоки фильтров */
.filter-block {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.filter-label {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: left;
    flex-shrink: 0;
}

.filter-select {
    flex: 1;
    background-color: #0695f8;
    border: 2px solid #3e3e3e;
    border-radius: 6px;
    color: #fff;
    height: 44px;
    font-size: 16px;
}

/* Чекбоксы для размеров */
.size-filter-block {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
}

.size-filter-label {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.size-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.size-checkbox {
    color: #ffffff;
}

/* Блок цены */
.price-filter-block {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-input {
    flex: 1;
    background-color: #0565a6;
    border: 2px solid #3e3e3e;
    padding: 10px 14px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    height: 44px;
}

/* Кнопки */
.filter-button {
    width: 100%;
    max-width: 500px;
    background-color: #0695f8;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    height: 44px;
    margin-top: 20px;
}